In [89]:
import pandas as pd
import numpy as np
import random
from math import sqrt

# get data
PATH = './data/Country-data.csv'

data = pd.read_csv(PATH)
data = data.set_index("country")
data

,child_mort,exports,health,imports,income,inflation,life_expec,total_fer,gdpp
country,,,,,,,,,
Afghanistan,90.2,10.0,7.58,44.9,1610,9.44,56.2,5.82,553
Albania,16.6,28.0,6.55,48.6,9930,4.49,76.3,1.65,4090
Algeria,27.3,38.4,4.17,31.4,12900,16.10,76.5,2.89,4460
Angola,119.0,62.3,2.85,42.9,5900,22.40,60.1,6.16,3530
Antigua and Barbuda,10.3,45.5,6.03,58.9,19100,1.44,76.8,2.13,12200
...,...,...,...,...,...,...,...,...,...
Vanuatu,29.2,46.6,5.25,52.7,2950,2.62,63.0,3.50,2970
Venezuela,17.1,28.5,4.91,17.6,16500,45.90,75.4,2.47,13500
Vietnam,23.3,72.0,6.84,80.2,4490,12.10,73.1,1.95,1310
Yemen,56.3,30.0,5.18,34.4,4480,23.60,67.5,4.67,1310
Zambia,83.1,37.0,5.89,30.9,3280,14.00,52.0,5.40,1460

In [90]:
# Cost function for later
def cost(u, x, u_x):
    # u is a list of centroids
    # x are our data samples
    # u_x are what centroid index in u data sample at index i is assigned to
    running_sum = 0
    for i in range(len(x)):
        running_sum += ((x[i] - u[u_x[i]])**2).sum()

    return running_sum/len(x)

In [108]:
# Initially, let's cluster these using K=2 centroids
K = 2
m = len(data)

# Pick 2 random samples to be our centroids
# note u_k is centroid k 
u1 = data.loc[random.choice(data.index)].to_numpy()
u2 = data.loc[random.choice(data.index)].to_numpy()

u = [u1, u2]

x = []
for ind, row in data.iterrows():
    x.append(row.to_numpy())

# K means
for i in range(15):
    distances = [[],[]]
    # for now we use euclidean distance
    for centroid_index in range(K):
        for row in x:
            distances[centroid_index].append(sqrt(((row-u[centroid_index])**2).sum()))

    # find closest centroid for each data point
    m_belong_to_k = [] # data point at index m belongs to cluster k
    for j in range(m):
        min_centroid_index = 0
        for d in range(K):
            if distances[d][j] < distances[min_centroid_index][j]:
                min_centroid_index = d
        m_belong_to_k.append(min_centroid_index)

    # calculate cost before moving
    print(f'Cost at iteration {i}: {cost(u, x, m_belong_to_k)}')

    # move centroids by finding mean of assigned points
    for j in range(len(u)):
        u[j] = np.zeros_like(u[j])
        count = 0
        for ind_belong in range(len(m_belong_to_k)):
            if m_belong_to_k[ind_belong] == j:
                count += 1
                u[j] += x[ind_belong]
        u[j] = u[j] / count

Cost at iteration 0: 673374409.7020997
Cost at iteration 1: 360040624.70608985
Cost at iteration 2: 262101731.0497315
Cost at iteration 3: 224014949.92537346
Cost at iteration 4: 221992873.27311474
Cost at iteration 5: 220734634.79915634
Cost at iteration 6: 219441731.4927854
Cost at iteration 7: 218732861.88216826
Cost at iteration 8: 218732861.88216826
Cost at iteration 9: 218732861.88216826
Cost at iteration 10: 218732861.88216826
Cost at iteration 11: 218732861.88216826
Cost at iteration 12: 218732861.88216826
Cost at iteration 13: 218732861.88216826
Cost at iteration 14: 218732861.88216826